.results {
    background-color: #EEF1F8;
  --background-colour: #F0F0F3;
    border-radius: 23px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
  --box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
                 5px 5px 10px rgba(174, 174, 192, 0.25),
                 10px 10px 20px rgba(174, 174, 192, 0.5),
                -10px -10px 20px #FFFFFF;
  --box-shadow-inset: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
                      inset 5px 5px 10px rgba(174, 174, 192, 0.25),
                      inset 10px 10px 20px rgba(174, 174, 192, 0.5),
                      inset -10px -10px 20px #FFFFFF;
    line-height: 2.4rem;
    padding: 50px 40px;
    margin-bottom: 50px;
}

.results h2 {
    font-size: 4rem;
    line-height: 6.5rem;
    letter-spacing: -0.022em;
    text-align: center;
}

.results .results-top {
    display: flex;
}

.results .handle-mobile {
    display: none;
}

.results .influencer-type {
    background-color: var(--background-colour);
    border-radius: 98px;
    width: 450px;
    height: 90px;
    text-align: center;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    margin: 30px 0;
}

.results .influencer-type h3 {
    font-size: 3.5rem;
    letter-spacing: -0.011em;
}

.results .influencer-type span {
    display: block;
    margin-top: 15px;
}

.results .results-metrics-container {
    display: flex;
    justify-content: space-between;
}

.results .results-metrics {
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 140px;
    height: 140px;
    box-shadow: var(--box-shadow-inset);
}

.results .results-metrics div {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    box-shadow: var(--box-shadow);
}

.results .results-metrics p {
    font-size: 3rem;
}

.results .results-metrics p:last-child {
    font-size: 1.4rem;
    margin-top: 5px;
}

.results .results-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.results .results-top-right h2,
.results .handle-mobile {
    background-color: var(--background-colour);
    border-radius: 12px;
    width: 300px;
    box-shadow: var(--box-shadow);
    margin: 20px auto 0;
}

.results .results-pricing-container,
.results .results-description {
    border-radius: 12px;
    box-shadow: var(--box-shadow-inset);
    padding: 0 40px 30px 30px;
}

.results .results-pricing-container {
    margin: 20px 0;
}

.results .results-pricing-container h3 {
    font-size: 3.5rem;
    letter-spacing: -0.011em;
    margin: 35px 0;
}

.results .results-pricing {
    display: flex;
}

.results .results-pricing div {
    border-right: 3px solid #1F1B1B;
    text-align: center;
    padding-right: 20px;
    margin-right: 20px;
}

.results .results-pricing div:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.results .results-pricing p {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.022em;
}

.results .results-description h4 {
    font-size: 3rem;
    letter-spacing: -0.011em;
    margin: 30px 0 25px;
}

.results .results-description p {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.011em;
    color: var(--black);
}

.results .results-theory {
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    margin: 50px 0 70px;
    padding: 35px 0;
}

.results .results-theory-container {
    display: flex;
}

.results .results-content {
    flex: 1;
}

.results .results-content img {
    display: block;
    margin: 0 auto;
}

.results .results-content div {
    border-radius: 12px;
    box-shadow: var(--box-shadow-inset);
    padding: 40px 60px;
}

.results .results-content .thumbs-up {
    margin: 0 15px 0 40px;
}

.results .results-content .thumbs-down {
    margin: 0 40px 0 15px;
}

.results .results-content ul {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.011em;
}

.results .results-content li {
    margin-top: 3px;
}

.results .brand-names ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.results .brand-names li {
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    width: 175px;
    height: 175px;
    box-shadow: var(--box-shadow);
    padding: 0.6em;
}

.arrow {
    display: none;
}

@media (max-width: 1275px) {
    .results .results-top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .results .handle-mobile {
        display: block;
        margin: -25px auto 25px;
    }

    .results .results-top-right {
        margin-left: 0;
    }

    .results .results-top-right h2 {
        display: none;
    }

    .results .results-pricing-container h3 {
        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 30px;
    }

    .results .results-pricing {
        justify-content: center;
    }

    .results .results-pricing div {
        padding-right: 10px;
        margin-right: 10px;
    }

    .results .results-description h4 {
        text-align: center;
    }

    .results .results-theory-container {
        flex-wrap: wrap;
    }

    .results .results-content .thumbs-up,
    .results .results-content .thumbs-down {
        margin: 0 30px;
    }
}

@media (max-width: 1160px) {
    .results .brand-text {
        line-height: 4rem;
    }

    .results .brand-names li {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .results .results-content {
        flex: auto;
    }

    .arrow {
        display: block;
        cursor: pointer;
        margin: 0 auto 15px;
    }
}

@media (max-width: 680px) {
    .results .handle-mobile {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .image {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .results .influencer-type {
        width: auto;
        height: 50px;
    }

    .results .influencer-type h3,
    .results .results-pricing-container h3,
    .results .results-pricing p,
    .results .results-description h4,
    .results .results-theory h2,
    .results .brand-text,
    .results .brand-names li {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .results .influencer-type span {
        display: inline;
    }

    .results .results-metrics {
        width: 80px;
        height: 80px;
    }

    .results .results-metrics div {
        width: 70px;
        height: 70px;
    }

    .results .results-metrics p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .results .results-metrics p:last-child {
        font-size: 1.2rem;
    }

    .results .results-pricing-container {
        padding: 0 0 25px 0;
    }

    .results .results-pricing-container h3 {
        margin: 25px 0;
    }

    .results .results-pricing {
        flex-direction: column;
        align-items: center;
    }

    .results .results-pricing div {
        border-right: none;
        border-bottom: 2px solid #1F1B1B;
        width: 40%;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }

    .results .results-description {
        padding: 0 15px 25px;
    }

    .results .results-description h4 {
        margin: 25px 0 15px;
    }

    .results .results-description p,
    .results .results-content ul {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .results .results-content .thumbs-up,
    .results .results-content .thumbs-down {
        margin: 0 15px;
    }

    .results .results-content div {
        padding: 20px 30px;
    }

    .results .brand-text {
        margin-top: -30px;
    }

    .results .brand-names li {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 420px) {
    .results {
        padding: 50px 15px;
    }

    .results .handle-mobile {
        width: auto;
    }

    .results .results-content img {
        width: 40%;
    }
}