.calc-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    background: #FAFAFA;
    padding-top: 50px;
    font-size: 1.5rem;
}

.calc-left-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    flex: 1;
}

.calc-left-wrapper h2 {
    margin: 30px 0 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 2.4rem;
    /* identical to box height, or 69% */
    letter-spacing: -0.011em;

}

.calc-left-wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    /* or 140% */
    letter-spacing: -0.011em;
}

.calc-right-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background: #E7F1FF;
    border-radius: 23px;
    /* filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.16)); */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
                 5px 5px 10px rgba(174, 174, 192, 0.25),
                 10px 10px 20px rgba(174, 174, 192, 0.5),
                -10px -10px 20px #FFFFFF;
    flex: 2;
    /* filter: drop-shadow(-5px -5px 10px rgba(255, 255, 255, 0.5)), drop-shadow(5px 5px 10px rgba(174, 174, 192, 0.25)), drop-shadow(10px 10px 20px rgba(174, 174, 192, 0.5)), drop-shadow(-10px -10px 20px #FFFFFF); */
}

.calc-wrapper {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 25px;
}

.calc-form-wrapper {
    display: flex;
    padding-right: 50px;
    flex: 1;
}

.calc-form-wrapper form {
    display: flex;
    flex-direction: column;
}

.calc-wrapper input {
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.social-img {
    /* position: absolute; */
    width: 430.7px;
    height: 371.49px;
    left: 90px;
    top: 233px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}

.calc-right-wrapper h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 6.5rem;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.form-description {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    /* or 140% */

    letter-spacing: -0.022em;
    padding: 0 25px 0 25px;
    margin-bottom: 10px;
}


.calc-form-wrapper form label {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    /* height: 112px; */
    left: 144px;
    top: 62.8rem;
    padding-bottom: 2.2rem;
}

.calc-form-wrapper form input {
    padding: 5px 0 5px 15px;
    height: 4.5rem;
    text-decoration: none;
}

.calc-type-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.calc-type-wrapper h3 {
    font-weight: 600;
    font-size: 2rem;
    /* line-height: 24px; */
    /* identical to box height, or 120% */

    letter-spacing: -0.011em;
}

.media-type {
    display: flex;
    flex-direction: column;
}

.media-type-list {
    display: flex;
    flex-direction: row;
}

.tiktok-section {
    display: inline;
}

#availability-tag {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: -0.011em;
    position: relative;
    display:inline-block;

}

#tiktok-icon {
    padding: 3px;
}

.type-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* .type-list-wrapper p {
    border: 2px solid grey;
    background-color: white;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 3px 10px 0;
} */

.type-list-wrapper p:hover {
    background-color: #E7F1FF;
    color: teal;
    cursor: pointer;
}

.influencer-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.influence-type-tag {
    background: #FFFFFF;
    border: 1px solid #525252;
    box-sizing: border-box;
    border-radius: 45px;
    padding: 3px 5px 3px 5px;
    margin: 10px 5px 10px 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

#selected {
    background-color: teal;
    color: #FFFFFF;
}

.submit-btn {
    color: white;
    line-height: 3.8rem;
    margin:auto;
    width: 30%;
    text-align: center;
    padding: 5px;

    background: #49627D;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.warning-label {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #E65F5C;
}

#tiktok-icon {
    opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}