/* HEADER STYLES */
header {
    background-color: #FFF7E6;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    border-radius: 23px;
    display: flex;
}

header .header-text {
    margin: 120px 0 0 40px;
}

header h1 {
    font-size: 7.5rem;
    line-height: 6.5rem;
    letter-spacing: -0.022em;
}

header p {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.022em;
    margin: 35px 0 20px;
}

header .get-started,
.cta-section .get-started {
    background-color: #49627D;
    color: #FAFAFA;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    width: 160px;
    text-align: center;
    line-height: 4.4rem;
    letter-spacing: -0.022em;
}

header img {
    margin: 275px 15px 35px 0;
}

/* HOW IT WORKS STYLES */
.how-it-works h2 {
    font-size: 6rem;
    line-height: 6.5rem;
    letter-spacing: -0.022em;
    text-align: center;
    margin: 70px 0 25px;
}

.how-it-works .how-it-works-section {
    background-color: #DCE8DD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    padding: 25px 0 50px;
}

.how-it-works .how-it-works-container {
    display: flex;
}

.how-it-works .how-it-works-container div:nth-child(2) {
    margin: 0 100px;
}

.how-it-works .how-it-works-details p {
    line-height: 2.4rem;
    letter-spacing: -0.011em;
    color: var(--black);
    margin-top: 40px;
}

/* FEATURES STYLES */
.features {
    margin: 75px 200px;
}

.features .features-section {
    display: flex;
}

.features .features-tablet {
    display: none;
}

.features .features-section-first .features-description {
    margin: 125px 0 0 100px;
}

.features .features-description h3 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.022em;
    margin-bottom: 35px;
}

.features .features-description p {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.011em;
    color: var(--black);
}

.features .features-section-second {
    margin-top: 100px;
}

.features .features-section-second .features-description {
    margin: 100px 100px 0 0;
}

/* CTA STYLES */
.cta-section {
    background-color: #EDEBE7;
    border-radius: 23px;
    padding: 55px 0;
}

.cta-section p {
    font-size: 5rem;
    line-height: 6.5rem;
    letter-spacing: -0.022em;
    text-align: center;
    margin: 0 230px 40px 230px;
}

.cta-section .get-started {
    margin: 0 auto;
}

/* FOOTER STYLES */
footer img {
    display: block;
    margin: 45px auto;
}

@media (max-width: 1260px) {
    /* HEADER STYLES */
    header .header-text {
        margin-top: 35px;
        padding-right: 55px;
    }

    header h1 {
        font-size: 2.5rem;
        line-height: 2.4rem;
    }

    header p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin: 15px 0 0;
    }

    header .get-started {
        background: none;
        color: #3A4F67;
        font-size: 1.6rem;
        line-height: 1rem;
        border: none;
        border-bottom: 1px solid #3A4F67;
        border-radius: 0;
        display: inline-block;
        width: auto;
        height: auto;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 5px;
    }

    header .get-started::after {
        content: url(../../assets/arrow-right.svg);
        position: absolute;
        bottom: 1px;
        padding-left: 7px;
    }

    header img {
        margin-top: 75px;
        margin-bottom: 0;
    }

    /* HOW IT WORKS STYLES */
    .how-it-works h2 {
        font-size: 2.5rem;
        margin: 30px 0 10px;
    }

    .how-it-works .how-it-works-container {
        flex-wrap: wrap;
    }

    .how-it-works .how-it-works-container div:nth-child(2) {
        margin: 0;
    }

    .how-it-works .how-it-works-details {
        display: flex;
        align-items: center;
    }

    .how-it-works .how-it-works-details:nth-child(2) {
        flex-direction: row-reverse;
    }

    .how-it-works .how-it-works-details p {
        margin: 0 20px;
    }

    /* FEATURES STYLES */
    .features {
        display: flex;
        margin: 0;
    }

    .features .features-desktop {
        display: none;
    }

    .features .features-tablet {
        display: unset;
    }

    .features .features-section-first .features-description,
    .features .features-section-second .features-description {
        margin: 0;
    }

    .features .features-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features .features-description h3 {
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .features .features-description p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 20px;
    }

    .features .features-section-first,
    .features .features-section-second {
        margin: 40px;
    }

    /* CTA STYLES */
    .cta-section {
        padding: 20px 0;
    }

    .cta-section p {
        font-size: 2.5rem;
        line-height: 2.4rem;
        margin: 0 100px 20px 100px;
    }

    .cta-section .get-started {
        font-size: 1.4rem;
        width: 140px;
    }

    /* FOOTER STYLES */
    footer img {
        margin: 20px auto 10px;
    }
}

@media (max-width: 550px) {
    /* HEADER STYLES */
    header {
        position: relative;
    }

    header .header-text {
        margin: 20px 50px 0 20px;
        padding: 0;
    }

    header h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    header p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-right: 50px;
    }

    header .get-started {
        font-size: 1.3rem;
        margin: 40px 0 65px;
    }

    header img {
        position: absolute;
        right: 20px;
        bottom: 10px;
        margin: 0;
    }

    /* HOW IT WORKS STYLES */
    .how-it-works h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .how-it-works .how-it-works-section {
        padding: 20px 0;
    }

    .how-it-works .how-it-works-container div:nth-child(2) {
        margin: 0 35px;
    }

    .how-it-works .how-it-works-details,
    .how-it-works .how-it-works-details:nth-child(2) {
        flex-direction: column;
        border-bottom: 1px solid #919191;
        text-align: center;
        margin: 0 35px;
        padding-bottom: 20px;
    }

    .how-it-works .how-it-works-details {
        padding-top: 20px;
    }

    .how-it-works .how-it-works-details:last-child {
        border: none;
    }

    .how-it-works .how-it-works-details p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin: 0;
    }

    /* FEATURES STYLES */
    .features {
        flex-wrap: wrap;
    }

    .features .features-description h3 {
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0 25px;
    }

    .features .features-description p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0 16px;
    }

    .features .features-section-second {
        margin-top: 0;
    }

    /* CTA STYLES */
    .cta-section p {
        font-size: 1.6rem;
        margin: 0 25px 10px;
    }
}