nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

nav li {
    list-style-type: none;
}

nav li:first-child {
    padding-top: 15px;
}

nav .nav-calculator {
    font-family: 'Pacifico', cursive;
    font-size: 2.7rem;
    font-weight: normal;
    line-height: 0;
    letter-spacing: 0.008em;
    color: black;
}

nav .nav-border {
    border-bottom: 3px solid #2B3D51;
}

@media (max-width: 1260px) {
    nav .nav-calculator {
        font-size: 1.6rem;
    }
}