@use 'variables' as *;

//check
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: $font-family;
    color: $text-colour;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}